@page "/CrsForm"

@using BlazorApp122024.Shared;
@inject HttpClient Http

<h3>Course Form</h3>

<EditForm Model="@course" OnValidSubmit="@HandleOnSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>


    <label>
        Enter Course Id :
        <InputNumber  @bind-Value="course.Id" />
    </label>
    <br>
     <label>
        Enter Student Id :
        <InputNumber  @bind-Value="course.StudentId" />
    </label>
    <br>
    <label>
        Enter Marks:
        <InputNumber @bind-Value="course.Marks" />
    </label>
    
    <button type="submit" >Submit</button>

</EditForm>


<p>@msg</p>

<p>Students with marks below 50</p>
<table>

    <thead>Id</thead>
    <thead>Student Id</thead>
    <thead>Marks</thead>


 @foreach(Course crs  in studentsBelow50 )
{
    <tr>
        <td>@crs.Id</td>
        <td>@crs.StudentId</td>
        <td>@crs.Marks</td>
    </tr>
}
</table>

<p>Students with marks between 50 and 85 </p>

<table>

    <thead>Id</thead>
    <thead>Student Id</thead>
    <thead>Marks</thead>


 @foreach(Course crs  in studentsBt50And85 )
{
    <tr>
        <td>@crs.Id</td>
        <td>@crs.StudentId</td>
        <td>@crs.Marks</td>
    </tr>
}
</table>

<p>Students with marks above 85 </p>

<table>

    <thead>Id</thead>
    <thead>Student Id</thead>
    <thead>Marks</thead>


 @foreach(Course crs  in studentsAbove85 )
{
    <tr>
        <td>@crs.Id</td>
        <td>@crs.StudentId</td>
        <td>@crs.Marks</td>
    </tr>
}
</table>


@code {
    Course course = new Course();

    List<Course> studentsBelow50 = new List<Course>();
    List<Course> studentsBt50And85 = new List<Course>();
    List<Course> studentsAbove85 = new List<Course>();
    string msg = "";

    protected override async Task OnInitializedAsync()
    {

        studentsBelow50 =  await Http.GetFromJsonAsync<List<Employee>>("/Below50");
        studentsBt50And85 =  await Http.GetFromJsonAsync<List<Employee>>("/Between50And85");
        studentsAbove85 =  await Http.GetFromJsonAsync<List<Employee>>("/Above85");

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        studentsBelow50 =  await Http.GetFromJsonAsync<List<Employee>>("/Below50");
        studentsBt50And85 =  await Http.GetFromJsonAsync<List<Employee>>("/Between50And85");
        studentsAbove85 =  await Http.GetFromJsonAsync<List<Employee>>("/Above85");

    }

    async void HandleOnSubmit()
    {
        var res = await Http.PostAsJsonAsync("/api/Course", course);
        if(res.IsSuccessStatusCode)
        {
            msg = res.ToString();
        }
        StateHasChanged();
    }

}
